//variables
$lightBlue: #0466c8c2;
$lightBlueTranslucent: rgba(4, 102, 200, 0.98);
$blue: rgb(2, 67, 131);
$blueTranslucent: rgba(2, 67, 131, 0.98);
$action-blue: rgb(36, 117, 247);
$darkTextColor: #434343;

//globals
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  color: $darkTextColor;
}

.blue-font {
  color: $action-blue;
}

.hero {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(
      to right bottom,
      $lightBlue,
      $blueTranslucent
    ),
    url(./images/safar-safarov-MSN8TFhJ0is-unsplash-pichi.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .hero-main {
    position: relative;
    top: -7rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    animation-name: fadeUp;
    animation-duration: 0.5s;

    h1 {
      color: white;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 1.5px;
      margin-bottom: 4.5rem;
    }
    .more {
      position: relative;

      padding: 1rem 3.5rem;
      color: $blue;
      font-size: 2rem;
      background-color: white;
      border-radius: 50px;
      border: none;
      font-weight: 600;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      max-width: 30%;
      &:hover {
        background-color: $blue;
        color: white;
        &::after {
          animation: enlarge 0.45s normal ease forwards;
        }
      }

      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 50px;
      }
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes enlarge {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
  }
}

.secondary-title {
  text-align: center;
  font-size: 2rem;
}
.technologies {
  display: flex;
  list-style-type: none;
  li {
    margin: 1rem;
  }
}

.wrapper {
  margin-top: 2rem;
  max-width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    font-weight: 500;
  }
  h3 {
    margin-bottom: 1.5rem;
  }
  ul {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-flow: row wrap;
  }
  li {
    list-style-type: none;
    margin: 1.5rem;
    font-weight: 500;
  }
}

hr {
  border-top: 1px solid #ccc;
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 4rem 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  h3 {
    margin-bottom: 2rem;
  }
}

.project {
  display: flex;
  flex-direction: inherit;
  width: 70%;
  max-width: 1000px;
  padding: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1.5rem;

  .video {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }

  .video iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  h6 {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgb(140, 140, 140);
  }

  a:not(.weather) {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1.5rem;
    background-color: $action-blue;
    padding: 0.7rem 1.3rem;
    border-radius: 50px;
    border: 2px solid $action-blue;
    transition: all 0.25s ease;

    &:link {
      text-decoration: none;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: $action-blue;
      background-color: white;
      border: 2px solid $action-blue;
    }
  }
}

.video {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0rem;
  }
  .more {
    top: 70%;
  }
  .wrapper {
    margin-top: 3rem;
  }
  .tech ul {
    flex-flow: row wrap;
    li {
      margin: 1rem;
    }
  }
  .projects {
    margin: 1rem;
  }
  .project {
    width: 100%;
    margin: 2rem 0;
  }
}
